---
layout: default
title: ABOUT
---
<p>みっちゃんラボとは、みっちゃんがパソコンを使って色々な可能性を模索する研究室です。</p>
<br>
<p>(み|お)っちゃん</p>
<p><a href="https://www.irohacoding.com" target="_blank">IrohaCoding</a>代表</p>
<br>
<p>パソコンが好き</p>
<p>初めて買ったパソコン: MacBook (白)</p>
<p>使用中のパソコン: NEC Express5800/52Xa + Dell XPS 13</p>
<p>使用中のOS: <a href="https://www.debian.org/index.html" target="_blank">Debian GNU/Linux 12 (bookworm)</a></p>
<p>お気に入りのハード: Chicony KU-3920 (109JPキーボード)、I･O DATA LCD-A156GW (15インチディスプレイ、白)</p>
<p>お気に入りのソフト: <a href="https://inkscape.org/ja" target="_blank">Inkscape</a> (ドローソフト)、
  <a href="http://www.gnucash.org/index.phtml?lang=ja_JP" target="_blank">GnuCash</a> (家計簿)、
  <a href="http://lzone.de/liferea" target="_blank">Liferea</a> (RSSリーダー)、
  <a href="https://www.gnu.org/software/bash/bash.html" target="_blank">Bash</a> (黒い画面)、
  <a href="https://www.gnu.org/software/emacs" target="_blank">GNU Emacs</a> (テキストエディタ)</p>
<p>使用中の携帯: Google Pixel 8a</p>
<br>
<p>好物: アボカドとズッキーニ、ベーコン、TKG (卵かけご飯)、小粒納豆、アンチョビ豆腐、鮭とば、生チョコ、釜揚げうどん、ハンバーガー全般</p>
<p>好きな色: 黄緑、濃いピンク、白、黒、ベージュ</p>
<p>趣味: 低い山登り、ネットサーフィン、大濠公園散歩、料理、水泳</p>
<br>
<p>略歴:</p>
<ul>
  <li>2007年
    <ul><li>初めて自作パソコンを制作</li></ul>
  </li>
  <li>2008年
    <ul><li>Mac OS X (Leopard)、iPhone OS向けアプリを制作するも公開に至らず</li></ul>
  </li>
  <li>2009年
    <ul><li>4月 <a href="https://www.ipa.go.jp/shiken/index.html" target="_blank">基本情報技術者試験</a>になんとか合格</li>
      <li>7月 <a href="https://www.irohacoding.com" target="_blank">IrohaCoding</a>を創業</li></ul>
  </li>
  <li>2010年
    <ul><li>六本松.comを開始するも半年ほどで閉鎖</li></ul>
  </li>
  <li>2011年
    <ul><li>Android向けウェブブラウザ「Zucchini」をリリース</li></ul>
  </li>
  <li>2012年
    <ul><li>オンライン・ブックマークサービス「CHUMP CHOP BACON」をリリース</li></ul>
  </li>
  <li>2013年
    <ul><li>Micchan Labを始動 (<a href="https://play.google.com/store/apps/dev?id=5786380774896540594" target="_blank">Androidアプリ</a>を6つ制作)</li></ul>
  </li>
  <li>2014年
    <ul><li>「六色」を開始</li></ul>
  </li>
  <li>2015年
    <ul><li>「ハイフンアウトライナー」をリリース</li></ul>
  </li>
  <li>2016年
    <ul><li>技術系ブログ「ナナマルイチ」を始動 (2019年閉鎖)</li></ul>
  </li>
  <li>2017年
    <ul>
      <li>紙を重ねるアート「重ねるプロジェクト」を始動</li>
    </ul>
  </li>
  <li>2018年
    <ul><li>自作OS「Itom OS」の制作を開始するも難しすぎて(一旦)挫折</li></ul>
  </li>
  <li>2019年
    <ul><li>みっちゃんラボを閉鎖</li></ul>
  </li>
  <li>2020年
    <ul><li>.......</li></ul>
  </li>
  <li>2021年
    <ul><li>.................</li></ul>
  </li>
  <li>2022年
    <ul>
      <li>みっちゃんラボの活動再開</li>
      <li>ターミナルから俳句を詠む「<a href="https://gitlab.com/micchan/yom" target="_blank">yom.sh</a>」をリリース</li>
    </ul>
  </li>
  <li>2023年
    <ul>
      <li>GNU Emacs向けのテーマを2つ公開
        <ul>
          <li><a href="https://github.com/irohacoding/aozora-theme" target="_blank">aozora-theme.el</a></li>
          <li><a href="https://github.com/irohacoding/yozora-theme" target="_blank">yozora-theme.el</a></li>
        </ul>
      </li>
      <li>Itom OS改め「<a href="https://github.com/irohacoding/itomos" target="_blank">itomos</a>」の制作を開始</li>
    </ul>
    <li>2024年
      <ul><li>(･∀･)←いまココ</li></ul>
    </li>
  </li>
</ul>
<p>お問い合わせは、<a href="mailto:hello@micchan.com">hello@micchan.com</a> まで</p>
