---
layout: default
---
{% for post in paginator.posts %}
  <div class="date">{{ post.date | date: "%Y/%m/%d(%a)" }}</div>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="truncate-text">{{- post.content | markdownify | strip_html | strip_newlines | truncate: 92 }}</p>
{% endfor %}
  <div class="pagination">
{%- if paginator.previous_page %}
    <span class="previous">
{% if paginator.previous_page == 1 %}
      <a href="/">前ページ</a>
{% else %}
      <a href="/page{{ paginator.previous_page }}/" class="previous">前ページ</a>
{% endif %}
    </span>
{% else %}
    <span class="previous disable">前ページ</span>
{%- endif %}
    <span class="page_number "> | {{ paginator.page }} / {{ paginator.total_pages }}ページ中 | </span>
{%- if paginator.next_page %}
    <span class="next"><a href="/page{{ paginator.next_page }}/" class="next">次ページ</a></span>
{%- else %}
    <span class="next disable">次ページ</span>
{%- endif %}
  </div>
