---
layout: default
title: SHOP
---
<p>2022年2月7日 <span style="color: red; font-size: 12px">update!!</span></p>
<h2>みっちゃんラボのお店</h2>
<p>ようこそ！当店では、(み|お)っちゃんが普段使っているモノ、読んだ本を紹介しております。</p>
<h3>新着情報:</h3>
<div class="news">
  <ul>
    <li>2022/02/07 デスク周りに「Anker 2-in-1 カードリーダー」を追加しました。</li>
    <li>2018/06/28 IT系の本に「コンピュータサイエンス」を追加しました。</li>
    <li>2016/01/03 IT系の本に「パソコン自由自在」を追加しました。</li>
    <li>2015/08/25 デスク周りに「Microsoft Wedge Mobile Keyboard」を追加しました。</li>
    <li>2014/03/28 いろんな本に「哲学入門」を追加しました。</li>
    <li>2013/07/04 IT系の本に「The Art of UNIX Programming」を追加しました。</li>
    <li>2013/06/06 デスク周りに「Microsoft Arc Touch Mouse」を追加しました。</li>
    <li>2013/06/03 デスク周りに「imakey v2 8GB USBメモリ」を追加しました。</li>
    <li>2013/05/07 棚の本に「落ちこぼれ」を追加しました。</li>
    <li>2013/02/13 お店を開店しました。</li>
  </ul>
</div>
<div class="sub">
  <img src="../assets/images/shop/desk.png" alt="Desk">
  <p>デスク周り</p>
  <p class="desc">普段、机の周りでよく使っているモノが中心です。</p>
</div>
<div class="product">
  <a href="https://www.amazon.co.jp/gp/product/B08VRV2XDD">
    <img src="../assets/images/shop/products/cardreader.jpg">
  </a>
  <h2>Anker USB-C & USB-A 2-in-1 カードリーダー <span style="color: red; font-size: 12px;">new!!</span></h2>
  <h3>1,890円</h3>
  <p>カードリーダーです。<br>あると便利です。<br>ないと困ります。</p>
  <a href="https://www.amazon.co.jp/gp/product/B08VRV2XDD">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/B008U0INBU">
    <img src="../assets/images/shop/products/keyboard.jpg" >
  </a>
  <h2>マイクロソフト ワイヤレス Bluetooth キーボード Wedge Mobile Keyboard U6R-00022</h2>
  <h3>4,000円</h3>
  <p>コンパクトなBluetoothキーボードです。<br>スマホで使っています。<br>とても気に入っています。</p>
  <a href="http://www.amazon.co.jp/gp/product/B008U0INBU">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/B009GQNMJU">
    <img src="../assets/images/shop/products/mouse.jpg" >
  </a>
  <h2>Microsoft Arc Touch Mouse ブラック RVF-000057</h2>
  <h3>6,930円</h3>
  <p>洗練されたデザインのワイヤレスマウスです。<br>使い心地もいいです。<br>持ち運びにとても便利。</p>
  <a href="http://www.amazon.co.jp/gp/product/B009GQNMJU">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/B004D2AZ0Q">
    <img src="../assets/images/shop/products/usb.jpg" >
  </a>
  <h2>LaCie iamakey v2 8 GB USB 2.0 Flash Drive</h2>
  <h3>2,580円</h3>
  <p>とてもおしゃれなUSBメモリです。<br>キーケースに入れて持ち歩いてます。<br>カバーがないので厚紙で自作してます。</p>
  <a href="http://www.amazon.co.jp/gp/product/B004D2AZ0Q">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/B002E1OWDE">
    <img src="../assets/images/shop/products/motorola.jpg" >
  </a>
  <h2>MOTOROLA L301 モトローラ コードレス 電話機</h2>
  <h3>3,980円</h3>
  <p>とてもスタイリッシュな電話機です。<br>デフォルトの着信音も好きです。<br>コンパクトで置く場所に困りません。</p>
  <a href="http://www.amazon.co.jp/gp/product/B002E1OWDE">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<img src="../assets/images/shop/books.png" alt="Books">
<p>棚の本</p>
<p class="desc">本棚にあるお気に入りの本です。IT系とその他の本で分類しています。</p>
<img src="../assets/images/shop/pc.png" alt="IT">
<p>IT系の本</p>
<p class="desc">パソコン関係の本です。HTMLから始まりUNIXなどの本もあります。</p>
<div class="product">
  <a href="https://www.amazon.co.jp/%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%E3%82%B5%E3%82%A4%E3%82%A8%E3%83%B3%E3%82%B9-%E3%82%B5%E3%82%A4%E3%82%A8%E3%83%B3%E3%82%B9%E3%83%BB%E3%83%91%E3%83%AC%E3%83%83%E3%83%88-%E6%B8%A1%E8%BE%BA-%E6%B2%BB/dp/4621089722">
    <img src="../assets/images/shop/products/computerscience.jpg" >
  </a>
  <h2>コンピュータサイエンス <span style="color: red; font-size: 12px;">new!!</span></h2>
  <h3>定価1,000円</h3>
  <p>とても勉強になりました。<br>内容が濃ゆく感じました。<br>薄いので読破しやすい。</p>
  <a href="https://www.amazon.co.jp/%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%E3%82%B5%E3%82%A4%E3%82%A8%E3%83%B3%E3%82%B9-%E3%82%B5%E3%82%A4%E3%82%A8%E3%83%B3%E3%82%B9%E3%83%BB%E3%83%91%E3%83%AC%E3%83%83%E3%83%88-%E6%B8%A1%E8%BE%BA-%E6%B2%BB/dp/4621089722">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/4004304857">
    <img src="../assets/images/shop/products/jiyujizai.jpg" >
  </a>
  <h2>パソコン自由自在</h2>
  <h3>定価650円(本体631円)</h3>
  <p>今では少し古い本です。<br>考え方が大きく変わりました。<br>知らなかった話が多く、とても興味深かったです。</p>
  <a href="http://www.amazon.co.jp/gp/product/4004304857">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/4756149480">
    <img src="../assets/images/shop/products/artofunix.jpg" >
  </a>
  <h2>The Art of UNIX Programming</h2>
  <h3>6,090円</h3>
  <p>大変勉強になりました。<br>UNIXをより深く知るためには必読の書です。<br>お値段以上の価値があるかも。</p>
  <a href="http://www.amazon.co.jp/gp/product/4756149480">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/4871483517">
    <img src="../assets/images/shop/products/unix.jpg">
  </a>
  <h2>UNIXプログラミング環境</h2>
  <h3>3,986円</h3>
  <p>とても勉強になります。<br>パソコンがもっと好きになりました。<br>プログラミングは難しい...。</p>
  <a href="http://www.amazon.co.jp/gp/product/4871483517">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
<img src="../assets/images/shop/bookmark.png" alt="Books">
<p>いろんな本</p>
<p class="desc">色々なジャンルの本です。好きな詩集や小説などがあります。</p>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/4004000084">
    <img src="../assets/images/shop/products/tetsugaku.jpg">
  </a>
  <h2>哲学入門(岩波新書)<span style="color: red; font-size: 12px;">new!!</span></h2>
  <h3>777円</h3>
  <p>ちょっと難しかったです。<br>眉間にしわが寄りました。<br>何度か読もうと思います。</p>
  <a href="http://www.amazon.co.jp/gp/product/4004000084">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon">  Amazonで(見てみる|買ってみる)
  </a>
</div>
<div class="product">
  <a href="http://www.amazon.co.jp/gp/product/4652038410">
    <img src="../assets/images/shop/products/ochikobore.jpg">
  </a>
  <h2>落ちこぼれ - 茨木のり子詩集</h2>
  <h3>1,470円</h3>
  <p>心に染みる詩集です。<br>「落ちこぼれ」という詩が一番気に入ってます。<br>「汲む」も好きです。</p>
  <a href="http://www.amazon.co.jp/gp/product/4652038410">
    <img class="icon" src="../assets/images/shop/amazon.png" alt="Amazon"> Amazonで(見てみる|買ってみる)
  </a>
</div>
