@charset "utf-8";

body {
  background-color: #fffffc;
  color: #393939;
  font-family: sans-serif;
  font-size: 108%;
  line-height: 1.8em;
}

h1, h2, h3 {
  font-weight: normal;
}

ul, ol {
  line-height: 1.8em;
}

a {
  color: #555;
}

a:hover {
  color: #999;
}

strong {
  margin: 0 3px;
  padding: 2px 5px;
  background-color: #555;
  color: #fff;
  border-radius: 3px;
  font-family: monospace;
  font-weight: normal;
}

em {
  margin: 0 3px;
  padding: 2px 5px;
  background-color: #eee;
  color: #666;
  font-family: monospace;
  font-style: normal;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.highlight {
  margin: 5px 0;
  font-family: monospace;
  border-radius: 3px;
}

code {
  display: block;
  padding: 10px;
  overflow: auto;
  line-height: 1.4em;
  background-color: #333;
  color: #eee;
  font-family: monospace;
  border-radius: 3px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
}

.clear {
  clear: both;
}

/* Layout style */
#wrapper {
  width: 96%;
  max-width: 816px;
  margin: 0 auto 8em;
}

header {
  text-align: center;
}

header h1 {
  line-height: 1.2em;
}

header a {
  text-decoration: none;
}

nav ul {
  padding-left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

nav ul li {
  display: inline-block;
  padding: 15px;
  font-size: 84%;
}

nav ul li a {
  color: #777;
  text-decoration: none;
}

nav ul li:last-child {
  float: right;
  padding: 15px;
}

article {
  padding: 0 15px;
}

article .date {
  margin-bottom: 0;
  padding-top: 8px;
}

article h2 {
  margin: 8px 0;
}

article h2 a {
  color: #333;
  text-decoration: none;
}

article p.truncate-text {
  color: #666;
  margin-top: 0;
  padding-bottom: 8px;
}

article a:visited {
  color: #666;
}

article img {
  max-width: 300px;
  vertical-align: baseline;
}

article span.url {
  color: #aaa;
}

.info {
  margin: 1em 0;
  padding: 1em 0;
  color: #888;
  border-bottom: 1px dashed #ccc;
}

.page-nav {
  padding: 1em 0;
  display: block;
  width: auto;
  overflow: hidden;
}

.page-nav a {
  display: block;
  width: 50%;
  color: #888;
  text-decoration: none;
}

.page-nav a.next {
  float: left;
}

.page-nav a.prev {
  float: right;
  text-align: right;
}

/* Table style */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #333;
}

th {
  background-color: #fcfcfc;
  border: 2px solid #555;
  padding: 0.3em;
}

td {
  border: 1px solid #555;
  padding: 0.3em;
}

/* Pagination style */
.pagination {
  text-align: center;
  padding: 20px 0;
}

.pagination a {
  text-decoration: none;
}

.pagination a:visited {
  color: #777;
}

.previous, .page_number, .next {
  color: #777;
}

.disable {
  color: #aaa;
}

/* Footer style */
footer {
  text-align: center;
}

footer p {
  color: #777;
}

footer p a {
  color: #777;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {

  h1 {
    font-size: 48px;
  }

  nav ul {
    font-size: 19px;
  }

  article img {
    max-width: 480px;
  }
}

/* APPS styles */
.apps {
  padding: 1em 0;
}

.apps a {
  text-decoration: none;
}

.app {
  width: 262px;
  height: 190px;
  float: left;
  text-align: center;
}

.app img.icon {
  width: 92px;
}

.app h3 {
  margin: 0;
}

.app p {
  margin: 0;
  color: #666;
  font-size: 90%;
}

.app img.badge {
  padding-top: 0.3em;
  width: 128px;
}

/* SHOP styles */
.news {
    width: 100%;
    height: 168px;
    overflow-y: scroll;
    margin-bottom: 2em;
}

.product {
  padding: 2em 0;
}

.product a img {
  padding: 3px;
  border: 1px solid #ccc;
}

.product a img.icon {
  padding: 0;
  border: none;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #ccc;
  }

  a {
    color: #ccc;
  }

  a:visited {
    color: #aaa;
  }

  strong {
    background-color: #333;
    color: #ccc;
  }

  em {
    background-color: #555;
    color: #ccc;
    border: 1px solid #888;
  }

  nav ul {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
  }

  article h2 a {
    color: #ccc;
  }

  article p.truncate-text {
    color: #aaa;
  }

  article a:visited {
    color: #888;
  }

  table {
    border: 2px solid #555;
  }

  th {
    background-color: #333;
    border: 2px solid #555;
  }

  td {
    border: 1px solid #555;
  }

  img {
    opacity: 0.8;
  }
}

code.language-plaintext {
  color: #CCFF33;
}

/* Syntax styles */
.highlight      { background-color: #555555; }
.highlight code { color: #fffff8; }
.highlight .p   { color: #888888 }
.highlight .c   { color: #888888; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k   { color: #e95295; font-weight: bold } /* Keyword */
.highlight .o   { color: #888888 } /* Operator */
.highlight .cm  { color: #a3a3a3; font-style: italic } /* Comment.Multiline */
.highlight .cp  { color: #a5a5a5; } /* Comment.Preproc */
.highlight .c1  { color: #a3a3a3; font-style: italic } /* Comment.Single */
.highlight .cs  { color: #bababa; font-style: italic } /* Comment.Special */
.highlight .gd  { color: #A00000 } /* Generic.Deleted */
.highlight .ge  { font-style: italic } /* Generic.Emph */
.highlight .gr  { color: #FF0000 } /* Generic.Error */
.highlight .gh  { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi  { color: #00A000 } /* Generic.Inserted */
.highlight .go  { color: #808080 } /* Generic.Output */
.highlight .gp  { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs  { font-weight: bold } /* Generic.Strong */
.highlight .gu  { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt  { color: #0040D0 } /* Generic.Traceback */
.highlight .kc  { color: #e95295; font-weight: bold } /* Keyword.Constant */
.highlight .kd  { color: #e95295; font-weight: bold } /* Keyword.Declaration */
.highlight .kn  { color: #e95295; font-weight: bold } /* Keyword.Namespace */
.highlight .kp  { color: #e95295 } /* Keyword.Pseudo */
.highlight .kr  { color: #e95295; font-weight: bold } /* Keyword.Reserved */
.highlight .kt  { color: #B3337f } /* Keyword.Type */
.highlight .m   { color: #888888 } /* Literal.Number */
.highlight .s   { color: #CCFF33 } /* Literal.String */
.highlight .n   { color: #fffff8 }
.highlight .na  { color: #fffff3 } /* Name.Attribute */
.highlight .nb  { color: #e95295 } /* Name.Builtin */
.highlight .nc  { color: #59b9c6; font-weight: bold } /* Name.Class */
.highlight .no  { color: #ff7788 } /* Name.Constant */
.highlight .nd  { color: #AA22FF } /* Name.Decorator */
.highlight .ni  { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne  { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf  { color: #59b9c6 } /* Name.Function */
.highlight .nl  { color: #A0A000 } /* Name.Label */
.highlight .nn  { color: #59b9c6; font-weight: bold } /* Name.Namespace */
.highlight .nt  { color: #e95295; font-weight: bold } /* Name.Tag */
.highlight .nv  { color: #eeeeee } /* Name.Variable */
.highlight .ow  { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w   { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf  { color: #888888 } /* Literal.Number.Float */
.highlight .mh  { color: #888888 } /* Literal.Number.Hex */
.highlight .mi  { color: #888888 } /* Literal.Number.Integer */
.highlight .mo  { color: #888888 } /* Literal.Number.Oct */
.highlight .sb  { color: #F08300 } /* Literal.String.Backtick */
.highlight .sc  { color: #F08300 } /* Literal.String.Char */
.highlight .sd  { color: #F08300; font-style: italic } /* Literal.String.Doc */
.highlight .s2  { color: #F08300 } /* Literal.String.Double */
.highlight .se  { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh  { color: #F08300 } /* Literal.String.Heredoc */
.highlight .si  { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx  { color: #e95295 } /* Literal.String.Other */
.highlight .sr  { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1  { color: #F08300 } /* Literal.String.Single */
.highlight .ss  { color: #FFEE11 } /* Literal.String.Symbol */
.highlight .bp  { color: #e95295 } /* Name.Builtin.Pseudo */
.highlight .vc  { color: #19177C } /* Name.Variable.Class */
.highlight .vg  { color: #19177C } /* Name.Variable.Global */
.highlight .vi  { color: #19177C } /* Name.Variable.Instance */
.highlight .il  { color: #888888 } /* Literal.Number.Integer.Long */
