---
layout: default
---
<p class="date">{{ page.date | date: "%Y/%m/%d(%a)" }}</p>
<h2>{{ page.title}}</h2>
<div>{{ content }}</div>
<div class="info">
  <img src="/assets/images/postedby.png" alt="Posted by"> {{ site.author.name }}&nbsp;
  <img src="/assets/images/updatedat.png" alt="Updated at"> {{ page.date | date_to_string }}&nbsp;
  <img src="/assets/images/category.png" alt="Category"> {{ page.category }}&nbsp;
  <img src="/assets/images/tags.png" alt="Tags"> {% for tag in page.tags -%}{{ tag }}&nbsp;{% endfor -%}
</div>
<div class="page-nav">
  {%- if page.next.url -%}
  <a class="next" href="{{ page.next.url }}">&laquo; {{ page.next.title }}</a>
  {%- endif -%}
  {%- if page.previous.url -%}
  <a class="prev" href="{{ page.previous.url }}">{{ page.previous.title }} &raquo;</a>
  {%- endif -%}
</div>
